.ListItem-item {
  display: flex;
  border: 1px solid #CACACA;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  min-height: 40px;
  justify-content: center;
  flex-direction: column;
}

.ListItem-item.active {
  color: #ffffff;
  background-color: #38699F;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
  font-weight: bold;
}

.ListItem-item:hover {
  border-color: #9B9B9B;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
}